body {
  background-image: url("./FOND.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  height: 100vh;           /* prend toute la hauteur de l’écran */
  margin: 0;               /* retire les marges par défaut */
  flex-direction: column; /* pour que les éléments soient empilés */
    font-family: Arial, sans-serif;
}
.MS {
  
}