body {
  margin: 0; /* pour éviter les marges blanches autour */
  height: 100vh; /* 100% de la hauteur de la fenêtre */
  background-image: url("./FOND.jpeg");
  background-size: cover; /* le secret pour remplir sans déformer */
  background-position: center; /* centrer l’image */
  background-repeat: no-repeat; /* ne pas répéter l’image */
  text-align: center;  
  color: black;
}
h1 {
  text-shadow: 1px 1px white;
  font-size: 44px;
  cursor: pointer; // utile pour pas copiez le texte 
}
.Btn {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px;
  text-shadow: 1px 1px white;
  margin-bottom: 10px;
  border: 2px solid white;
  color: black;
}
input {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px;
  text-shadow: 1px 1px white;
  margin-bottom: 10px;
  border: 2px solid white;
}